* {
    background-color: white;
}
h1 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 120px;
    

}



h2 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    border: 10px;

}


p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
}

body {
    color: cornflowerblue;
}

img {
    border: darkslategray;
}